* {
  color: #ddd;
  font-family: 'Nunito', sans-serif;

  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #bbb;
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-weight: normal;
}

#totalContainer {
  width: 100%;
  height: 100%;
}

#mainContainer {
  background-color: #444;

  width: calc(100% - 8rem);
  height: 100%;

  display: flex;
  flex-direction: column;

  position: fixed;
  right: 0;
}

#headerContainer {
  background-color: #333;

  width: 100%;
  height: 2.4rem;

  box-shadow: 0px 2px 4px #222;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
}

#contentContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden auto;
}

#textContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2rem;
}

#footerContainer {
  text-align: center;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cubes {
  width: 16%;
  height: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.cube {
  width: 1rem;
  height: 1rem;
}

.t1 {
  background-color: #0E636E;
}

.t2 {
  background-color: #368276;
}

.t3 {
  background-color: #6CB09C;
}

.t4 {
  background-color: #E5D08A;
}

.t5 {
  background-color: #F4966A;
}

.t6 {
  background-color: #C97C64;
}

.t7 {
  background-color: #913F40;
}

.d1 {
  background-color: #888;

  width: 16rem;
  height: 40rem;
}

.transFix {
  transition: none !important;
}
