---
# Hi
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body onload="sessionStorage.setItem('page', 'Home'); setActive(); loopDropdowns();">
    <div id="totalContainer">
      {% include sidebar.html %}
      <div id="mainContainer">
        <div id="headerContainer">
          <h2>Header</h2>
        </div>
        <div id="contentContainer">
          <div id="textContainer">
            <p>Content</p>
            <div class="d1"></div>
          </div>
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
