---
# Hi
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="totalContainer">
      {% include sidebar.html %}
      <div id="mainContainer">
        <div id="headerContainer">
          <h2>Header</h2>
        </div>
        <div id="contentContainer">
          <div id="textContainer">
            <p>TAN (TGR's Array Notation) is a semi-powerful array notation made by me. It's strength is equal to
            <math>
              <mi>&psi;
                (
                <msub>
                  <mi>&epsilon;</mi>
                  <mi>&Omega;+1<mi>
                </msub>
                )
              </mi>
            </math>.
            </p>
            <mtable frame="solid" rowlines="solid" align="top">
              <mtr>
                   <mtd><mi>f<msub>x</msub>(n) Value</mi></mtd>
                   <mtd><mi>Expression</mi></mtd>
              </mtr>
              <mtr>
                   <mtd><mi>C</mi></mtd>
                   <mtd><mi>D</mi></mtd>
              </mtr>
              <mtr>
                   <mtd><mi>E</mi></mtd>
                   <mtd><mi>F</mi></mtd>
              </mtr>
            </mtable>
          </div>
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
