<div id="sidebarContainer">
  <div id="sidebarMenuContainer">
    <div class="sidebarMenuElement"><a href="">Home</a></div>
    <div class="sidebarMenuElement"><button onclick="toggleDropdown('dropdownGoogology')">Googology</button></div>
    <div id="dropdownGoogology" class="sidebarDropdown">
      <div id="dropdownGoogologyWrap" class="sidebarWrapper">
        <div class="sidebarMenuElement"><a href="">TAN</a></div>
        <div class="sidebarMenuElement"><a href="">TGRx</a></div>
      </div>
    </div>
    <div class="sidebarMenuElement"><a href="">Other</a></div>
  </div>
</div>
