<div id="sidebarContainer">
  <div id="sidebarMenuContainer">
    <div id="sidebarLinkHome" class="sidebarMenuElement"><button onclick="sessionStorage.setItem('page', 'Home'); location.href='index.html'">Home</button></div>
    <div class="sidebarMenuElement"><button onclick="toggleDropdown('dropdownGoogology')">Googology</button></div>
    <div id="dropdownGoogology" class="sidebarDropdown" style="height: 0px;">
      <div id="dropdownGoogologyWrap" class="sidebarWrapper">
        <div id="sidebarLinkTAN" class="sidebarMenuElement"><button onclick="sessionStorage.setItem('page', 'TAN'); location.href='TAN.html'">TAN</button></div>
        <div id="sidebarLinkTGRx" class="sidebarMenuElement"><button onclick="sessionStorage.setItem('page', 'TGRx'); location.href='TGRx.html'">TGRx</button></div>
      </div>
    </div>
    <div id="sidebarLinkOther" class="sidebarMenuElement"><button onclick="sessionStorage.setItem('page', 'Other'); location.href='Other.html'">Other</button></div>
  </div>
</div>
